include ../mixins/products-item

section.products.container 
   h3 For You
   h2 Top Featured Products 
   .products__row

      .products__column 
         .products__opportunities
            p.img-sale  
               img(src="./assets/imgs/products/sale.png", alt="")
            p.img-like  
               img(src="./assets/imgs/products/like.png", alt="")
         .products__item 
            p 
               img(src="/assets/imgs/products/0101.png", alt="cucumber")
               p.products__available Available(in stock)
               p.products__food Fresh organic apricot 
         .products__price 
            p.products__price--active $12
            p.products__price--previous $15
         .products__amount 
            p.minus 
               img(src="/assets/imgs/products/minus.png", alt="minus")
            p 1
            p.plus 
               img(src="/assets/imgs/products/plus.png", alt="plus")
            span
               img(src="/assets/imgs/products/basket.svg", alt="")


      .products__column 
         .products__opportunities
            p.img-sale  
               img(src="./assets/imgs/products/sale.png", alt="")
            p.img-like  
               img(src="./assets/imgs/products/like.png", alt="")
         .products__item 
            p 
               img(src="/assets/imgs/products/0202.png", alt="cucumber")
               p.products__available Available(in stock)
               p.products__food Cucumber 
         .products__price 
            p.products__price--active $12
            p.products__price--previous $15
         .products__amount 
            p.minus 
               img(src="/assets/imgs/products/minus.png", alt="minus")
            p 1
            p.plus 
               img(src="/assets/imgs/products/plus.png", alt="plus")
            span
               img(src="/assets/imgs/products/basket.svg", alt="")
         
      .products__column 
         .products__opportunities
            p.img-sale  
               img(src="./assets/imgs/products/sale.png", alt="")
            p.img-like  
               img(src="./assets/imgs/products/like.png", alt="")
         .products__item 
            p 
               img(src="/assets/imgs/products/0303.png", alt="cucumber")
               p.products__available Available(in stock)
               p.products__food Hazelnuts filbert nut 
         .products__price 
            p.products__price--active $12
            p.products__price--previous $15
         .products__amount 
            p.minus 
               img(src="/assets/imgs/products/minus.png", alt="minus")
            p 1
            p.plus 
               img(src="/assets/imgs/products/plus.png", alt="plus")
            span
               img(src="/assets/imgs/products/basket.svg", alt="")

      .products__column 
         .products__opportunities
            p.img-sale  
               img(src="./assets/imgs/products/sale.png", alt="")
            p.img-like  
               img(src="./assets/imgs/products/like.png", alt="")
         .products__item 
            p 
               img(src="/assets/imgs/products/0404.png", alt="cucumber")
               p.products__available Available(in stock)
               p.products__food Raw broccoli
         .products__price 
            p.products__price--active $12
            p.products__price--previous $15
         .products__amount 
            p.minus 
               img(src="/assets/imgs/products/minus.png", alt="minus")
            p 1
            p.plus 
               img(src="/assets/imgs/products/plus.png", alt="plus")
            span
               img(src="/assets/imgs/products/basket.svg", alt="")

      .products__column 
         .products__opportunities
            p.img-sale  
               img(src="./assets/imgs/products/sale.png", alt="")
            p.img-like  
               img(src="./assets/imgs/products/like.png", alt="")
         .products__item 
            p 
               img(src="/assets/imgs/products/0505.png", alt="cucumber")
               p.products__available Available(in stock)
               p.products__food Organic quince 
         .products__price 
            p.products__price--active $12
            p.products__price--previous $15
         .products__amount 
            p.minus 
               img(src="/assets/imgs/products/minus.png", alt="minus")
            p 1
            p.plus 
               img(src="/assets/imgs/products/plus.png", alt="plus")
            span
               img(src="/assets/imgs/products/basket.svg", alt="")



      //- .products__column 
         .products__opportunities
            p.img-sale  
               img(src="./assets/imgs/products/sale.png", alt="")
            p.img-like  
               img(src="./assets/imgs/products/like.png", alt="")
         .products__item 
            a
               img(src="/assets/imgs/products/0202.png", alt="cucumber")








         //-    +products-opportunities(
         //-    {
         //-       img: './assets/imgs/products/sale.png'
         //-    }
         //- )
         //- .products__opportunities
         //-    +products-opportunities(
         //-    {
         //-       img: './assets/imgs/products/like.png'
         //-    }
         //- )
